Source: d-push
Section: web
Priority: extra
Maintainer: Wolfram Quester <wolfi@sigxcpu.org>
Build-Depends: debhelper (>= 7.0.50~), quilt, po-debconf
Standards-Version: 3.8.4
Homepage: http://z-push.sourceforge.net/soswp
#Vcs-Git: git://git.debian.org/collab-maint/d-push.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/d-push.git;a=summary

Package: d-push
Architecture: all
Depends: ${misc:Depends}, php5, php-pear, php5-imap, php-mail
Recommends: apache2 | lighttpd | httpd-cgi, libapache2-mod-php5
Description: an implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
