Source: d-push
Section: web
Priority: extra
Maintainer: Giraffe Maintainers <pkg-giraffe-maintainers@lists.alioth.debian.org>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>, Guido Günther <agx@sigxcpu.org>
Build-Depends: debhelper (>= 9), dh-exec, po-debconf
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-giraffe/d-push.git
Vcs-Browser: https://anonscm.debian.org/git/pkg-giraffe/d-push.git
Homepage: http://z-push.org/download/

Package: z-push
Architecture: all
Depends: ${misc:Depends}, z-push-common, z-push-backend-imap | z-push-kopano | z-push-backend-combined | z-push-backend-ldap
Recommends: apache2 | lighttpd | httpd-cgi, libapache2-mod-php5
Provides: d-push
Replaces: d-push (<< 2.1.0~M2-1.1~)
Breaks: d-push (<< 2.1.0~M2-1.1~)
Description: open source implementation of the ActiveSync protocol - metapackage
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 This is a metapackage depending on packages providing the basic
 syncronisation functionality.

Package: d-push
Architecture: any
Section: oldlibs
Depends:
 z-push,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 This is a transitional package. It can be safely removed.

Package: z-push-common
Architecture: all
Provides: d-push-common
Replaces: d-push-common (<< 2.1.0~M2-1.1~)
Breaks: d-push-common (<< 2.1.0~M2-1.1~)
Depends: ${misc:Depends}, php5 (>= 5.4) | php7, php5-cli, php-soap
Description: open source implementation of the ActiveSync protocol - common files
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 This package contains the actual Z-Push software used by all the backends.

Package: d-push-common
Architecture: any
Section: oldlibs
Depends:
 z-push-common,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 The package contains the actual d-push software used by all the backends.
 This is a transitional package. It can be safely removed.

Package: z-push-kopano
Architecture: all
Depends: ${misc:Depends}, php5-cli, php5-mapi | php7-mapi, z-push-common (= ${binary:Version})
Recommends:
Provides: d-push-zarafa
Replaces: d-push-zarafa (<< 2.1.0~M2-1.1~)
Breaks: d-push-zarafa (<< 2.1.0~M2-1.1~)
Description: open source implementation of the ActiveSync protocol - kopano backend bindings
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to sync mobile devices
 against a kopano server.

Package: d-push-zarafa
Architecture: any
Section: oldlibs
Depends:
 z-push-kopano,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to sync mobile devices
 against a zarafa server.
 This is a transitional package. It can be safely removed.

Package: z-push-backend-imap
Architecture: all
Depends: ${misc:Depends}, z-push-common (= ${binary:Version}), php-imap | php5-imap
Recommends:
Description: open source implementation of the ActiveSync protocol - IMAP backend
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to sync emails to mobile
 devices from an IMAP server.

Package: z-push-backend-combined
Architecture: all
Depends: ${misc:Depends}, z-push-common (= ${binary:Version})
Recommends: z-push-backend-imap | z-push-kopano
Provides:
 d-push-maildir,
 d-push-vcarddir,
Replaces:
 d-push-maildir (<< 2.1.0~M2-1.1~),
 d-push-vcarddir (<< 2.1.0~M2-1.1~),
Breaks:
 d-push-maildir (<< 2.1.0~M2-1.1~),
 d-push-vcarddir (<< 2.1.0~M2-1.1~),
Description: open source implementation of the ActiveSync protocol - combine backends
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 The combined backend allows you to use a combination from different other
 backends (imap, maildir, vcarddir, kopano) to sync data to mobile devices.

Package: d-push-maildir
Architecture: any
Section: oldlibs
Depends:
 z-push-backend-combined,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to sync emails to mobile
 devices from a Maildir directory.
 This is a transitional package. It can be safely removed.

Package: d-push-vcarddir
Architecture: any
Section: oldlibs
Depends:
 z-push-backend-combined,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to sync contact information
 to your mobile devices from vcards directory.
 This is a transitional package. It can be safely removed.

Package: z-push-backend-ldap
Architecture: all
Depends: ${misc:Depends}, z-push-common (= ${binary:Version}), php-ldap | php5-ldap
Recommends:
Provides: d-push-searchldap
Replaces: d-push-searchldap (<< 2.1.0~M2-1.1~)
Breaks: d-push-searchldap (<< 2.1.0~M2-1.1~)
Description: open source implementation of the ActiveSync protocol - LDAP backend
 Z-Push is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With Z-Push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to provide alternative
 contact information to your mobile devices from an LDAP Server (e.g. Global
 Address Lists).

Package: d-push-searchldap
Architecture: any
Section: oldlibs
Depends:
 z-push-backend-ldap,
 ${misc:Depends},
Description: open source implementation of the ActiveSync protocol
 D-push is debian's rebranded version of zarafa's z-push.
 It is an implementation of the ActiveSync protocol which is used
 'over-the-air' for multi platform ActiveSync devices, including Windows
 Mobile, iPhone, Sony Ericsson and Nokia mobile devices. With D-push any
 groupware can be connected and synced with these devices.
 .
 The backend contained in this package allows you to provide alternative
 contact information to your mobile devices from an LDAP Server (Global Address
 Lists).
 This is a transitional package. It can be safely removed.
