#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

# Find out which webservers we have.
webservers=
if [ -e /usr/share/apache2/apache2-maintscript-helper ] ; then
    webservers="$webservers apache2"
fi
if which lighty-enable-mod >/dev/null 2>&1 ; then
webservers="$webservers lighttpd"
    fi
if which nginx >/dev/null 2>&1 ; then
    webservers="$webservers nginx"
fi

# If we have only one webserver, there is no need to ask which webserver
# must be configured to serve Z-push.
if [ "$(echo $webservers | wc -w)" -le 1 ]; then
    exit 0
fi

db_input high z-push/reconfigure-webserver || true

db_go || true

